@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}



.info {
    margin-top: 140px;
    padding-bottom: 40px;
    &__subtitle {
        padding: 0 30px;
    }
    &__flex {
        @include flex-center;
        box-shadow: 1px 1px 25px 0 #b8b5ff, 1px 6px 2px 0 rgb(182, 182, 182);
        border-radius: 25px;
        padding: 30px;
        margin: 0 5%;
        background-color: #eef09d;
    }
  
    &__image img {
        border-radius: 60px;
        width: 300px;
        
    }
    &__cv {
        @include flex-center;
        a {
            text-decoration: none;
            background: green;
            color: white;
            font-size: 18px;
            font-weight: bold; 
            display: inline-block;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            transition: background 0.6s ease, color 0.4s ease, box-shadow 0.4s ease, transform 0.3s ease;
            border-radius: 4px;
            position: relative;
            overflow: hidden;
    
            // Animation de clignotement
            animation: blink 2s infinite;
            @keyframes blink {
                0%, 100% {
                    opacity: 1;
                }
                50% {
                    opacity: 0.65;
                }
            }
    
  
    
            &:hover {
                background: green;
                color: white;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                transform: scale(1.35);
                border: 2px solid goldenrod;
                animation: none; // Arrête le clignotement au survol
            }
        }
    }
    
}

@media (max-width : 768px) {
    .info {
        &__flex {
            flex-direction: column;
        }
        &__image {
            display: none;
        }
        &__subtitle {
            padding: 0 10px;
            font-size: 14px;
        }
        &__flex {
            margin: 0 1%;
            padding: 15px 5px ;
        }
        &__link {
            font-size: 14px;
        }
    }
}